<nav class="navbar bg-light" >
  <div class="container-fluid">
    <%= link_to " #{ if current_page?(root_path) then "Cars Booking" else 'Home' end }" , root_path, class:"navbar-brand" %>
  </div>
</nav>