<% car = Car.find(params[:id]) %>


<div class="simple-slider">
  <div class="swiper-container">

    <div id="swiper-wrapper" class="swiper-wrapper">
      <% car.images.each do |image| %>
        <div id="sliderImage" class="swiper-slide">
          <img id="car-image" src="<%= image %>" style="width: 100%">
        </div>
      <% end %>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
