<% car = Car.find(params[:id]) %>


<link rel="stylesheet" href="app/assets/stylesheets/Simple-Slider.css">
<link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="app/assets/stylesheets/swiper-bundle.min.css">


<div class="simple-slider">
  <div class="swiper-container">

    <div id="swiper-wrapper" class="swiper-wrapper">
      <% car.images.each do |image| %>
        <div id="sliderImage" class="swiper-slide">
          <img id="car-image" src="<%= image %>" style="width: 100%">
        </div>
      <% end %>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>


<script src="app/javascript/Simple-Slider.js"></script>
<script src="app/javascript/bootstrap.min.js"></script>
<script src="app/javascript/swiper-bundle.min.js"></script>
<script src="assets/js/Simple-Slider.js"></script>