<% car = Car.find(params[:id]) %>

<%= render partial: "shared/slider" %>
<%= render partial: "shared/details" %>


<section class="py-4 py-xl-5">
  <div class="container">
    <div class="text-center p-4 p-lg-5">
      <h1 class="fw-bold mb-4">Book this car now!</h1>
      <%= link_to "Book", { controller: 'booking', action: 'index', id: car.id }, class: "btn btn-primary fs-5 me-2 py-2 px-4" %>
    </div>
  </div>
</section>
